body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#map {
	width: 100vw;
	height: 100vh;
	background-color: grey;
}

#control-panel {
	background: hsla(50, 31%, 92%, 0.95);
	border-radius: 10px 10px 0 0;
	bottom: 0;
	box-shadow: 0 0 15px 0 hsl(0, 0%, 60%);
	box-sizing: border-box;
	color: hsla(50, 43%, 24%, 1);
	height: 4rem;
	left: 0;
	position: fixed;
	right: 0;
	transition: height 0.2s;
}

#control-panel select {
	border: 1px solid;
	font-size: 1.5rem;
	max-width: 80%;
}

.control-panel-actions {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	font-size: 2rem;
	justify-content: space-between;
	padding: 0.25rem;
}

.control-panel-actions .action {
	color: hsla(50, 43%, 24%, 1);
	font-size: 1rem;
	padding: 0 0.5rem;
}


.control-panel-actions .action-close {
	display: none;
}

#control-panel:target {
	height: 40vh;
}

#control-panel:target .action-open {
	display: none;
}

#control-panel:target .action-close {
	display: initial;
}

.clinics-list {
	height: calc(40vh - 4rem);
	list-style: none;
	margin-top: 0.5rem;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: initial;
	-webkit-overflow-scrolling: touch;
}

.clinics-list .clinic-name {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
}

.clinics-list .clinic-address {
    color: hsl(50, 20%, 60%);
    font-size: small;
    margin: 0;
}

.clinics-list li {
	border-bottom: 1px dotted hsl(50, 30%, 70%);
    padding: 0.5rem;
}

.clinics-list li:hover {
	background: hsla(50, 31%, 88%, 1);
}
