body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#map {
	width: 100vw;
	height: calc(100vh - 4rem);
	background-color: grey;
}

#control-panel {
	padding: 0.5rem;
	background: #4177b9;
	color: #ddd;
	height: 4rem;
	box-sizing: border-box;
	text-align: center;
}

#control-panel select {
	border: 1px solid;
	font-size: 2rem;
	max-width: 100%;
}
